NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_SITE_ENV=preview
NUXT_PUBLIC_INKEEP_API_KEY=1cc5c5549ed34af9402c9370e3f5f3a095e6c8daafdfa955
NUXT_PUBLIC_NEWSLETTER_URL=https://product-team.directus.app/flows/trigger/webhook_id
NUXT_PUBLIC_PRODUCT_DIRECTUS_URL=https://product-team.directus.app
NUXT_IMAGE_DOMAINS="product-team.directus.app"
POSTHOG_API_KEY="phc_api_key"
POSTHOG_API_HOST="https://us.i.posthog.com"
