@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--font--body: 'Inter', sans-serif;
	--font--header: 'Poppins', sans-serif;
	--font--code: 'Fira Mono', monospace;

	--width-md: 768px;
	--width-lg: 1024px;
	--width-xl: 1280px;
	--width-2xl: 1440px;

	--border-radius: 6px;

	--typography: var(--black);
	--typography-subdued: #A2B5CD;

	--background: var(--white);
	--background-subdued: color-mix(in hsl shorter hue, var(--white) 95%, var(--black) 5%);
	--background-subtle: color-mix(in hsl shorter hue, var(--white) 90%, var(--black) 10%);

	--border: color-mix(in hsl shorter hue, var(--white) 95%, var(--black) 5%);
	--border-subdued: color-mix(in hsl shorter hue, var(--white) 90%, var(--black) 10%);
	--border-subtle: color-mix(in hsl shorter hue, var(--white) 85%, var(--black) 15%);

	--primary: var(--purple);
	--secondary: var(--pink);

	--area--dev-docs: var(--purple);
	--area--api-reference: var(--green);
	--area--tutorials: var(--pink);
	--area--cloud: var(--blue);
	--area--community: var(--red);
}

.dark {
	--typography: var(--white);
	--typography-subdued: color-mix(in hsl shorter hue, var(--white) 70%, var(--black) 30%);

	--background: color-mix(in hsl shorter hue, var(--black) 94%, var(--white) 6%);
	--background-subdued: color-mix(in hsl shorter hue, var(--black) 90%, var(--white) 10%);
	--background-subtle: color-mix(in hsl shorter hue, var(--black) 85%, var(--white) 15%);

	--border: color-mix(in hsl shorter hue, var(--black) 90%, var(--white) 10%);
	--border-subdued: color-mix(in hsl shorter hue, var(--black) 85%, var(--white) 15%);
	--border-subtle: color-mix(in hsl shorter hue, var(--black) 80%, var(--white) 20%);

	--primary: var(--purple-3);
	--secondary: var(--pink-3);

	--area--dev-docs: var(--purple-2);
	--area--api-reference: var(--green-2);
	--area--tutorials: var(--pink-2);
	--area--cloud: var(--blue-2);
	--area--community: var(--red-2);
}
